        <div class="nav-container">
            <div class="logo">
                <a href="../../index.html#home" data-section="home"><h1>Fable Psychology</h1></a>
            </div>
            <ul class="nav-menu" id="nav-menu">
                <li><a href="../../index.html#about" data-section="about">About</a></li>
                <li><a href="/services/supervision" data-section="supervision">Supervision</a></li>
                <li><a href="/services/gender" data-section="gender">Gender-Affirming Care</a></li>
            </ul>
            <button class="menu-toggle" id="menu-toggle" aria-label="Toggle navigation menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
